body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1683px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
}
#u686 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u687 {
  position:absolute;
  left:44px;
  top:17px;
  width:141px;
  height:25px;
  font-size:18px;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  position:absolute;
  left:1107px;
  top:20px;
  width:57px;
  height:20px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u691 {
  position:absolute;
  left:1183px;
  top:20px;
  width:29px;
  height:20px;
  color:#FF0000;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:628px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u693 {
  position:absolute;
  left:0px;
  top:60px;
  width:163px;
  height:628px;
}
#u694 {
  position:absolute;
  left:2px;
  top:306px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u695 {
  position:absolute;
  left:0px;
  top:70px;
  width:163px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u696 {
  position:absolute;
  left:2px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u697 {
  position:absolute;
  left:0px;
  top:138px;
  width:163px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u698 {
  position:absolute;
  left:2px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u699 {
  position:absolute;
  left:0px;
  top:206px;
  width:163px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u700 {
  position:absolute;
  left:2px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u701 {
  position:absolute;
  left:1016px;
  top:20px;
  width:71px;
  height:20px;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u703 {
  position:absolute;
  left:255px;
  top:91px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u705 {
  position:absolute;
  left:255px;
  top:223px;
  width:66px;
  height:20px;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u707 {
  position:absolute;
  left:407px;
  top:221px;
  width:300px;
  height:25px;
}
#u707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  position:absolute;
  left:255px;
  top:265px;
  width:71px;
  height:20px;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u710 {
  position:absolute;
  left:407px;
  top:263px;
  width:300px;
  height:25px;
}
#u710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711 {
  position:absolute;
  left:255px;
  top:308px;
  width:66px;
  height:20px;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u713 {
  position:absolute;
  left:407px;
  top:306px;
  width:300px;
  height:25px;
}
#u713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  position:absolute;
  left:255px;
  top:573px;
  width:66px;
  height:20px;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u716 {
  position:absolute;
  left:407px;
  top:573px;
  width:533px;
  height:318px;
}
#u716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:318px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  position:absolute;
  left:407px;
  top:904px;
  width:140px;
  height:40px;
}
#u718 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  position:absolute;
  left:255px;
  top:436px;
  width:141px;
  height:40px;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u721 {
  position:absolute;
  left:407px;
  top:428px;
  width:185px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u722 {
  position:absolute;
  left:2px;
  top:49px;
  width:181px;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:116px;
}
#u723 {
  position:absolute;
  left:611px;
  top:428px;
  width:185px;
  height:116px;
}
#u724 {
  position:absolute;
  left:2px;
  top:50px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:116px;
}
#u725 {
  position:absolute;
  left:806px;
  top:428px;
  width:185px;
  height:116px;
}
#u726 {
  position:absolute;
  left:2px;
  top:50px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:116px;
}
#u727 {
  position:absolute;
  left:1001px;
  top:428px;
  width:185px;
  height:116px;
}
#u728 {
  position:absolute;
  left:2px;
  top:50px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u729 {
  position:absolute;
  left:776px;
  top:428px;
  width:20px;
  height:20px;
}
#u730 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u731 {
  position:absolute;
  left:971px;
  top:428px;
  width:20px;
  height:20px;
}
#u732 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u733 {
  position:absolute;
  left:1166px;
  top:428px;
  width:20px;
  height:20px;
}
#u734 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u735 {
  position:absolute;
  left:255px;
  top:349px;
  width:66px;
  height:20px;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u737 {
  position:absolute;
  left:255px;
  top:381px;
  width:66px;
  height:20px;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:255px;
  top:139px;
  width:52px;
  height:20px;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u741 {
  position:absolute;
  left:407px;
  top:137px;
  width:300px;
  height:25px;
}
#u741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:876px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u742 {
  position:absolute;
  left:1196px;
  top:98px;
  width:487px;
  height:876px;
  color:#FFFFFF;
}
#u743 {
  position:absolute;
  left:10px;
  top:10px;
  width:467px;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u744 {
  position:absolute;
  left:407px;
  top:182px;
  width:207px;
  height:20px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u747 {
  position:absolute;
  left:407px;
  top:347px;
  width:300px;
  height:22px;
}
#u747_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u747_input:disabled {
  color:grayText;
}
#u748 {
  position:absolute;
  left:407px;
  top:379px;
  width:300px;
  height:22px;
}
#u748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u748_input:disabled {
  color:grayText;
}
