body {
  margin:0px;
  background-color:rgba(111, 184, 219, 1);
  background-image:none;
  position:relative;
  left:-224px;
  width:898px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:224px;
  top:100px;
  width:898px;
  height:490px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:490px;
}
#u1 {
  position:absolute;
  left:2px;
  top:237px;
  width:894px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:534px;
  top:34px;
  width:277px;
  height:40px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:40px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:282px;
  top:230px;
  width:781px;
  height:120px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:120px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:449px;
  top:131px;
  width:393px;
  height:40px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:456px;
  top:173px;
  width:151px;
  height:30px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:666px;
  top:173px;
  width:169px;
  height:30px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:528px;
  top:390px;
  width:290px;
  height:160px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:160px;
}
#u13 {
  position:absolute;
  left:2px;
  top:72px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:640px;
  top:400px;
  width:81px;
  height:30px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:fixed;
  left:50%;
  margin-left:-1160px;
  top:50%;
  margin-top:-690px;
  width:2320px;
  height:1380px;
  overflow:hidden;
  visibility:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2320px;
  height:1380px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:3540px;
  height:1970px;
  opacity:0.800000011920929;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3540px;
  height:1970px;
}
#u18 {
  position:absolute;
  left:2px;
  top:977px;
  width:3536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:550px;
  top:450px;
  width:247px;
  height:40px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:243px;
  word-wrap:break-word;
}
#u21 {
  position:fixed;
  left:50%;
  margin-left:-235px;
  top:50%;
  margin-top:-100px;
  visibility:hidden;
}
#u21_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:200px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:200px;
}
#u23 {
  position:absolute;
  left:2px;
  top:92px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:102px;
  top:140px;
  width:125px;
  height:35px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u24_img.selected {
}
#u24.selected {
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:202px;
  top:24px;
  width:81px;
  height:30px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:258px;
  top:140px;
  width:125px;
  height:35px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u28_img.selected {
}
#u28.selected {
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:145px;
  top:80px;
  width:275px;
  height:30px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30_input {
  font-family:'应用字体';
}
#u31 {
  position:absolute;
  left:50px;
  top:80px;
  width:85px;
  height:30px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u21_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u21_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:270px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:270px;
}
#u34 {
  position:absolute;
  left:2px;
  top:127px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:112px;
  top:160px;
  width:247px;
  height:40px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u35_img.selected {
}
#u35.selected {
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:9px;
  width:243px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:202px;
  top:24px;
  width:81px;
  height:30px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:25px;
  top:64px;
  width:435px;
  height:85px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:85px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:48px;
  top:210px;
  width:375px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u42 {
  position:absolute;
  left:8px;
  top:230px;
  width:470px;
  height:20px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:20px;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u44 {
  position:fixed;
  left:50%;
  margin-left:-1160px;
  top:50%;
  margin-top:-690px;
  width:2320px;
  height:1380px;
  overflow:hidden;
  visibility:hidden;
}
#u44_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2320px;
  height:1380px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:3540px;
  height:1970px;
  opacity:0.800000011920929;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3540px;
  height:1970px;
}
#u46 {
  position:absolute;
  left:2px;
  top:977px;
  width:3536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:550px;
  top:500px;
  width:247px;
  height:40px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
}
#u47_img.selected {
}
#u47.selected {
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:9px;
  width:243px;
  word-wrap:break-word;
}
