body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:130px;
  width:100px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:230px;
  width:100px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:180px;
  width:100px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:120px;
  top:280px;
  width:100px;
  height:40px;
  color:#0000FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:290px;
  top:130px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0000FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:250px;
  top:50px;
  width:10px;
  height:520px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:503px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:520px;
}
#u13 {
  position:absolute;
  left:300px;
  top:260px;
  width:110px;
  height:38px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:440px;
  top:260px;
  width:110px;
  height:38px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:580px;
  top:260px;
  width:110px;
  height:38px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:720px;
  top:260px;
  width:110px;
  height:38px;
  color:#0000FF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:340px;
  width:690px;
  height:25px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:300px;
  top:308px;
  width:690px;
  height:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:28px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:870px;
  top:314px;
  width:53px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:400px;
  top:311px;
  width:10px;
  height:22px;
}
#u27_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u27_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u27_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u28 {
  position:absolute;
  left:889px;
  top:346px;
  width:15px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:300px;
  top:365px;
  width:690px;
  height:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:889px;
  top:371px;
  width:15px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:300px;
  top:390px;
  width:690px;
  height:25px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:889px;
  top:396px;
  width:15px;
  height:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:300px;
  top:415px;
  width:690px;
  height:25px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:889px;
  top:421px;
  width:15px;
  height:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:300px;
  top:440px;
  width:690px;
  height:25px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:889px;
  top:446px;
  width:15px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:300px;
  top:465px;
  width:690px;
  height:25px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:889px;
  top:469px;
  width:15px;
  height:15px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:620px;
  top:311px;
  width:10px;
  height:22px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u51 {
  position:absolute;
  left:320px;
  top:314px;
  width:53px;
  height:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:380px;
  top:317px;
  width:10px;
  height:10px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:337px;
  top:346px;
  width:46px;
  height:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:337px;
  top:371px;
  width:46px;
  height:15px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:337px;
  top:396px;
  width:46px;
  height:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:337px;
  top:421px;
  width:46px;
  height:15px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:337px;
  top:446px;
  width:46px;
  height:15px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:337px;
  top:469px;
  width:46px;
  height:15px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:498px;
  top:314px;
  width:27px;
  height:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:494px;
  top:346px;
  width:46px;
  height:15px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:494px;
  top:371px;
  width:46px;
  height:15px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:494px;
  top:396px;
  width:46px;
  height:15px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:494px;
  top:421px;
  width:46px;
  height:15px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:494px;
  top:446px;
  width:46px;
  height:15px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:494px;
  top:469px;
  width:46px;
  height:15px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:816px;
  top:311px;
  width:10px;
  height:22px;
}
#u81_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u81_end {
  position:absolute;
  left:-5px;
  top:5px;
  width:20px;
  height:18px;
}
#u81_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:22px;
}
#u82 {
  position:absolute;
  left:694px;
  top:314px;
  width:27px;
  height:18px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:690px;
  top:346px;
  width:46px;
  height:15px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:690px;
  top:371px;
  width:46px;
  height:15px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:690px;
  top:396px;
  width:46px;
  height:15px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:690px;
  top:421px;
  width:46px;
  height:15px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:690px;
  top:446px;
  width:46px;
  height:15px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:690px;
  top:469px;
  width:46px;
  height:15px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:320px;
  top:162px;
  width:330px;
  height:90px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:90px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:120px;
  top:330px;
  width:100px;
  height:40px;
  color:#000000;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u99 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
