body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:url('../../images/uc3_1_登入/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-0px;
  width:412px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u928 {
  position:absolute;
  left:110px;
  top:217px;
  width:301px;
  height:38px;
}
#u929 {
  position:absolute;
  left:2px;
  top:11px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  position:absolute;
  left:110px;
  top:277px;
  width:301px;
  height:38px;
}
#u931 {
  position:absolute;
  left:2px;
  top:11px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 152, 3, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u932 {
  position:absolute;
  left:55px;
  top:899px;
  width:301px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u933 {
  position:absolute;
  left:2px;
  top:4px;
  width:297px;
  word-wrap:break-word;
}
#u934 {
  position:absolute;
  left:118px;
  top:220px;
  width:286px;
  height:32px;
}
#u934_input {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:32px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u935 {
  position:absolute;
  left:118px;
  top:280px;
  width:286px;
  height:32px;
}
#u935_input {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:32px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u936 {
  position:absolute;
  left:111px;
  top:590px;
  width:300px;
  height:136px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u937 {
  position:absolute;
  left:2px;
  top:59px;
  width:296px;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:110px;
  top:390px;
  width:96px;
  height:37px;
}
#u938_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u938_input:disabled {
  color:grayText;
}
#u939 {
  position:absolute;
  left:316px;
  top:390px;
  width:96px;
  height:37px;
}
#u939_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u939_input:disabled {
  color:grayText;
}
#u940 {
  position:absolute;
  left:212px;
  top:390px;
  width:96px;
  height:37px;
}
#u940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u940_input:disabled {
  color:grayText;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  position:absolute;
  left:110px;
  top:334px;
  width:301px;
  height:38px;
}
#u942 {
  position:absolute;
  left:2px;
  top:11px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943 {
  position:absolute;
  left:118px;
  top:337px;
  width:286px;
  height:32px;
}
#u943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:32px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u944 {
  position:absolute;
  left:111px;
  top:740px;
  width:300px;
  height:136px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u945 {
  position:absolute;
  left:2px;
  top:59px;
  width:296px;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:136px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u946 {
  position:absolute;
  left:111px;
  top:441px;
  width:135px;
  height:136px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u947 {
  position:absolute;
  left:2px;
  top:59px;
  width:131px;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoOSITCTT-Bold', 'Bodoni 72 Oldstyle Bold', 'Bodoni 72 Oldstyle';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u948 {
  position:absolute;
  left:78px;
  top:91px;
  width:255px;
  height:78px;
  font-family:'BodoniSvtyTwoOSITCTT-Bold', 'Bodoni 72 Oldstyle Bold', 'Bodoni 72 Oldstyle';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:0px;
  top:224px;
  width:37px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u952 {
  position:absolute;
  left:0px;
  top:284px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u954 {
  position:absolute;
  left:0px;
  top:341px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u956 {
  position:absolute;
  left:0px;
  top:396px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u958 {
  position:absolute;
  left:0px;
  top:497px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u960 {
  position:absolute;
  left:0px;
  top:646px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u962 {
  position:absolute;
  left:0px;
  top:796px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
  background:inherit;
  background-color:rgba(135, 206, 235, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u964 {
  position:absolute;
  left:55px;
  top:950px;
  width:301px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:2px;
  top:4px;
  width:297px;
  word-wrap:break-word;
}
