body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u124 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:3px;
  top:22px;
  width:40px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  position:absolute;
  left:302px;
  top:212px;
  width:48px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
