body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:700px;
}
#u96 {
  position:absolute;
  left:0px;
  top:-55px;
  width:375px;
  height:700px;
}
#u97 {
  position:absolute;
  left:2px;
  top:342px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:118px;
}
#u99 {
  position:absolute;
  left:2px;
  top:50px;
  width:371px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:6px;
  top:178px;
  width:283px;
  height:20px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
.u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u104 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  word-wrap:break-word;
}
.u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
.u105 {
  position:absolute;
  left:118px;
  top:0px;
  width:149px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
.u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
.u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u107 {
  position:absolute;
  left:118px;
  top:56px;
  width:220px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:216px;
  word-wrap:break-word;
}
.u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
.u109 {
  position:absolute;
  left:0px;
  top:110px;
  width:351px;
  height:1px;
}
.u110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
.u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
.u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
.u112 {
  position:absolute;
  left:2px;
  top:42px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
.u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:111px;
}
#u102-2 {
  position:absolute;
  left:0px;
  top:121px;
  width:351px;
  height:111px;
}
#u102-3 {
  position:absolute;
  left:0px;
  top:242px;
  width:351px;
  height:111px;
}
#u102 {
  position:absolute;
  left:6px;
  top:219px;
  width:351px;
  height:353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u114 {
  position:absolute;
  left:55px;
  top:16px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#36A9CE;
}
#u116 {
  position:absolute;
  left:255px;
  top:16px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#36A9CE;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u118_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:75px;
  height:6px;
}
#u118 {
  position:absolute;
  left:251px;
  top:44px;
  width:72px;
  height:3px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-6px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
