body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-5px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:847px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:847px;
}
#u2 {
  position:absolute;
  left:2px;
  top:416px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:8px;
  top:451px;
  width:358px;
  height:285px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:718px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:718px;
}
#u5 {
  position:absolute;
  left:2px;
  top:351px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:65px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:142px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:142px;
}
#u8 {
  position:absolute;
  left:2px;
  top:63px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:142px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:142px;
}
#u10 {
  position:absolute;
  left:2px;
  top:63px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:17px;
  width:55px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
