body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:130px;
  width:100px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:230px;
  width:100px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:180px;
  width:100px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:120px;
  top:280px;
  width:100px;
  height:40px;
  color:#0000FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:290px;
  top:130px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0000FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:250px;
  top:50px;
  width:10px;
  height:520px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:503px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:520px;
}
#u13 {
  position:absolute;
  left:330px;
  top:190px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:440px;
  top:187px;
  width:200px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15_input {
  font-family:'应用字体';
}
#u16 {
  position:absolute;
  left:330px;
  top:240px;
  width:80px;
  height:22px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:562px;
  top:418px;
  width:48px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:440px;
  top:240px;
  width:240px;
  height:150px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:150px;
}
#u21 {
  position:absolute;
  left:2px;
  top:67px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:440px;
  top:400px;
  width:100px;
  height:34px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:332px;
  top:470px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:440px;
  top:470px;
  width:530px;
  height:220px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:220px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26_input {
  font-family:'应用字体';
}
#u27 {
  position:absolute;
  left:332px;
  top:711px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:440px;
  top:711px;
  width:120px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29_input {
  font-family:'应用字体';
}
#u30 {
  position:absolute;
  left:633px;
  top:711px;
  width:120px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30_input {
  font-family:'应用字体';
}
#u31 {
  position:absolute;
  left:586px;
  top:716px;
  width:14px;
  height:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:332px;
  top:760px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:440px;
  top:757px;
  width:120px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35_input {
  font-family:'应用字体';
}
#u36 {
  position:absolute;
  left:633px;
  top:757px;
  width:120px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36_input {
  font-family:'应用字体';
}
#u37 {
  position:absolute;
  left:586px;
  top:762px;
  width:14px;
  height:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:332px;
  top:824px;
  width:99px;
  height:22px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:562px;
  top:834px;
  width:55px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:440px;
  top:816px;
  width:100px;
  height:34px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:440px;
  top:870px;
  width:100px;
  height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:526px;
  top:870px;
  width:15px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:562px;
  top:870px;
  width:100px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:648px;
  top:870px;
  width:15px;
  height:15px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u52 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:689px;
  top:870px;
  width:100px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:775px;
  top:870px;
  width:15px;
  height:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:820px;
  top:870px;
  width:100px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:906px;
  top:870px;
  width:15px;
  height:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u60 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:950px;
  top:870px;
  width:100px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1036px;
  top:870px;
  width:15px;
  height:15px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u64 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:120px;
  top:230px;
  width:100px;
  height:40px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:440px;
  top:950px;
  width:100px;
  height:40px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u68 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:564px;
  top:950px;
  width:100px;
  height:40px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:120px;
  top:330px;
  width:100px;
  height:40px;
  color:#000000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
