body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1246px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:618px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1440 {
  position:absolute;
  left:35px;
  top:80px;
  width:1211px;
  height:618px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:301px;
  width:1207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:1062px;
  height:21px;
}
#u1442p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1054px;
  height:1px;
}
#u1442p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:1064px;
  height:22px;
}
#u1442p001 {
  position:absolute;
  left:1039px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1442p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u1442.compound {
  width:0px;
  height:0px;
}
#u1442 {
  position:absolute;
  left:115px;
  top:166px;
  width:1052px;
  height:1px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1444 {
  position:absolute;
  left:568px;
  top:23px;
  width:145px;
  height:33px;
  font-size:24px;
}
#u1445 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1446 {
  position:absolute;
  left:219px;
  top:125px;
  width:83px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1447 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1448 {
  position:absolute;
  left:402px;
  top:125px;
  width:83px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1449 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1450 {
  position:absolute;
  left:585px;
  top:125px;
  width:83px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1451 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1452 {
  position:absolute;
  left:768px;
  top:125px;
  width:83px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1453 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1454 {
  position:absolute;
  left:951px;
  top:125px;
  width:83px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1455 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1456 {
  position:absolute;
  left:550px;
  top:254px;
  width:183px;
  height:20px;
  color:#999999;
}
#u1457 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1458 {
  position:absolute;
  left:457px;
  top:314px;
  width:57px;
  height:20px;
}
#u1459 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1460 {
  position:absolute;
  left:457px;
  top:368px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1462 {
  position:absolute;
  left:524px;
  top:312px;
  width:300px;
  height:25px;
}
#u1462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1463 {
  position:absolute;
  left:457px;
  top:389px;
  width:367px;
  height:58px;
  overflow:hidden;
  visibility:hidden;
}
#u1463_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:58px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1463_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1464 {
  position:absolute;
  left:0px;
  top:35px;
  width:57px;
  height:20px;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1466 {
  position:absolute;
  left:67px;
  top:33px;
  width:300px;
  height:25px;
}
#u1466_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1467 {
  position:absolute;
  left:524px;
  top:367px;
  width:300px;
  height:22px;
}
#u1467_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1467_input:disabled {
  color:grayText;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
  background:inherit;
  background-color:rgba(246, 157, 72, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1468 {
  position:absolute;
  left:646px;
  top:467px;
  width:124px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1469 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1470 {
  position:absolute;
  left:512px;
  top:467px;
  width:124px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1471 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
