body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1246px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:618px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1472 {
  position:absolute;
  left:35px;
  top:80px;
  width:1211px;
  height:618px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:301px;
  width:1207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:1062px;
  height:21px;
}
#u1474p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1054px;
  height:1px;
}
#u1474p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:1064px;
  height:22px;
}
#u1474p001 {
  position:absolute;
  left:1039px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1474p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u1474.compound {
  width:0px;
  height:0px;
}
#u1474 {
  position:absolute;
  left:115px;
  top:166px;
  width:1052px;
  height:1px;
}
#u1475 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u1476 {
  position:absolute;
  left:568px;
  top:23px;
  width:145px;
  height:33px;
  font-size:24px;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1478 {
  position:absolute;
  left:219px;
  top:125px;
  width:83px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1479 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u1480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1480 {
  position:absolute;
  left:402px;
  top:125px;
  width:83px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1481 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u1482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1482 {
  position:absolute;
  left:585px;
  top:125px;
  width:83px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1483 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u1484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1484 {
  position:absolute;
  left:768px;
  top:125px;
  width:83px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1485 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u1486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u1486 {
  position:absolute;
  left:951px;
  top:125px;
  width:83px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1487 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  word-wrap:break-word;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1488 {
  position:absolute;
  left:412px;
  top:254px;
  width:458px;
  height:20px;
  color:#999999;
}
#u1489 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  white-space:nowrap;
}
#u1490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1490 {
  position:absolute;
  left:254px;
  top:314px;
  width:29px;
  height:20px;
}
#u1491 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1492 {
  position:absolute;
  left:321px;
  top:312px;
  width:300px;
  height:25px;
}
#u1492_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
  background:inherit;
  background-color:rgba(246, 157, 72, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1493 {
  position:absolute;
  left:646px;
  top:440px;
  width:124px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1494 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1495 {
  position:absolute;
  left:661px;
  top:314px;
  width:29px;
  height:20px;
}
#u1496 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1497 {
  position:absolute;
  left:728px;
  top:312px;
  width:300px;
  height:25px;
}
#u1497_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(246, 157, 72, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1498 {
  position:absolute;
  left:937px;
  top:358px;
  width:91px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1499 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1500 {
  position:absolute;
  left:512px;
  top:440px;
  width:124px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1501 {
  position:absolute;
  left:2px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
