body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u57 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:5px;
  top:29px;
  width:38px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:24px;
  top:243px;
  width:60px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:112px;
  top:243px;
  width:60px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  position:absolute;
  left:200px;
  top:243px;
  width:60px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:291px;
  top:243px;
  width:60px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:-6px;
  top:387px;
  width:381px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
