body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1287px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u481 {
  position:absolute;
  left:705px;
  top:259px;
  width:230px;
  height:230px;
}
#u482 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483 {
  position:absolute;
  left:476px;
  top:259px;
  width:230px;
  height:230px;
}
#u484 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u485 {
  position:absolute;
  left:247px;
  top:259px;
  width:230px;
  height:230px;
}
#u486 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
}
#u489 {
  position:absolute;
  left:2px;
  top:22px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u490 {
  position:absolute;
  left:44px;
  top:17px;
  width:141px;
  height:25px;
  font-size:18px;
}
#u491 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  position:absolute;
  left:1107px;
  top:20px;
  width:57px;
  height:20px;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u494 {
  position:absolute;
  left:1183px;
  top:20px;
  width:29px;
  height:20px;
  color:#FF0000;
}
#u495 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:628px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u496 {
  position:absolute;
  left:0px;
  top:60px;
  width:163px;
  height:628px;
}
#u497 {
  position:absolute;
  left:2px;
  top:306px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u498 {
  position:absolute;
  left:0px;
  top:70px;
  width:163px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u499 {
  position:absolute;
  left:2px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u500 {
  position:absolute;
  left:0px;
  top:138px;
  width:163px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u501 {
  position:absolute;
  left:2px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u502 {
  position:absolute;
  left:0px;
  top:206px;
  width:163px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u503 {
  position:absolute;
  left:2px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u504 {
  position:absolute;
  left:543px;
  top:91px;
  width:163px;
  height:25px;
  font-size:18px;
}
#u505 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u506 {
  position:absolute;
  left:543px;
  top:126px;
  width:99px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u507 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u508 {
  position:absolute;
  left:315px;
  top:265px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u509 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u510 {
  position:absolute;
  left:297px;
  top:309px;
  width:130px;
  height:130px;
}
#u511 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u512 {
  position:absolute;
  left:563px;
  top:265px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u513 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u514 {
  position:absolute;
  left:508px;
  top:328px;
  width:107px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u515 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u516 {
  position:absolute;
  left:508px;
  top:388px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u518 {
  position:absolute;
  left:784px;
  top:265px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u520 {
  position:absolute;
  left:789px;
  top:358px;
  width:63px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u522 {
  position:absolute;
  left:297px;
  top:449px;
  width:130px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u523 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u524 {
  position:absolute;
  left:526px;
  top:449px;
  width:130px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u525 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u526 {
  position:absolute;
  left:543px;
  top:176px;
  width:130px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u527 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u528 {
  position:absolute;
  left:247px;
  top:79px;
  width:270px;
  height:139px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u529 {
  position:absolute;
  left:2px;
  top:60px;
  width:266px;
  word-wrap:break-word;
}
#u530_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:461px;
  height:21px;
}
#u530p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:453px;
  height:1px;
}
#u530p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:464px;
  height:22px;
}
#u530p001 {
  position:absolute;
  left:438px;
  top:-10px;
  width:20px;
  height:20px;
}
#u530p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u530.compound {
  width:0px;
  height:0px;
}
#u530 {
  position:absolute;
  left:517px;
  top:85px;
  width:451px;
  height:1px;
}
#u531 {
  position:absolute;
  left:2px;
  top:-8px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u532 {
  position:absolute;
  left:978px;
  top:76px;
  width:309px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u533 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u534_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:305px;
  height:21px;
}
#u534p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:297px;
  height:1px;
}
#u534p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:308px;
  height:22px;
}
#u534p001 {
  position:absolute;
  left:282px;
  top:-10px;
  width:20px;
  height:20px;
}
#u534p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u534.compound {
  width:0px;
  height:0px;
}
#u534 {
  position:absolute;
  left:673px;
  top:191px;
  width:295px;
  height:1px;
}
#u535 {
  position:absolute;
  left:2px;
  top:-8px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u536 {
  position:absolute;
  left:978px;
  top:182px;
  width:160px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u537 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u538_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:610px;
  height:21px;
}
#u538p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:602px;
  height:1px;
}
#u538p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:614px;
  height:22px;
}
#u538p001 {
  position:absolute;
  left:587px;
  top:-10px;
  width:20px;
  height:20px;
}
#u538p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u538.compound {
  width:0px;
  height:0px;
}
#u538 {
  position:absolute;
  left:368px;
  top:517px;
  width:600px;
  height:1px;
}
#u539 {
  position:absolute;
  left:2px;
  top:-8px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u540 {
  position:absolute;
  left:978px;
  top:508px;
  width:224px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u541 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u542 {
  position:absolute;
  left:368px;
  top:481px;
  width:1px;
  height:37px;
}
#u543 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:322px;
  height:21px;
}
#u544p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:314px;
  height:1px;
}
#u544p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:326px;
  height:22px;
}
#u544p001 {
  position:absolute;
  left:299px;
  top:-10px;
  width:20px;
  height:20px;
}
#u544p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u544.compound {
  width:0px;
  height:0px;
}
#u544 {
  position:absolute;
  left:656px;
  top:467px;
  width:312px;
  height:1px;
}
#u545 {
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u546 {
  position:absolute;
  left:978px;
  top:458px;
  width:169px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u547 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u548_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:71px;
  height:21px;
}
#u548p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:63px;
  height:1px;
}
#u548p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:74px;
  height:22px;
}
#u548p001 {
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u548p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u548.compound {
  width:0px;
  height:0px;
}
#u548 {
  position:absolute;
  left:907px;
  top:367px;
  width:61px;
  height:1px;
}
#u549 {
  position:absolute;
  left:2px;
  top:-8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u550 {
  position:absolute;
  left:978px;
  top:358px;
  width:281px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u551 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
