body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:647px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:19px;
  top:28px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:1px;
  top:5px;
  width:19px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u7 {
  position:absolute;
  left:1px;
  top:17px;
  width:19px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u8 {
  position:absolute;
  left:1px;
  top:68px;
  width:371px;
  height:492px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:492px;
}
#u9 {
  position:absolute;
  left:2px;
  top:238px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:15px;
  top:375px;
  width:345px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:2px;
  top:399px;
  width:371px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:5px;
  top:405px;
  width:370px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:15px;
  top:374px;
  width:145px;
  height:25px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:2px;
  top:495px;
  width:371px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:3px;
  top:399px;
  width:370px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u20 {
  position:absolute;
  left:5px;
  top:495px;
  width:370px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
