body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1139px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1139px;
}
#u1 {
  position:absolute;
  left:2px;
  top:562px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:303px;
  width:185px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:190px;
  top:303px;
  width:185px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:0px;
  top:573px;
  width:185px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:190px;
  top:573px;
  width:185px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:0px;
  top:849px;
  width:185px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:190px;
  top:849px;
  width:185px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:fixed;
  left:317px;
  top:563px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u10 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:12px;
  top:10px;
  width:24px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
