body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:700px;
}
#u120 {
  position:absolute;
  left:0px;
  top:-55px;
  width:375px;
  height:700px;
}
#u121 {
  position:absolute;
  left:2px;
  top:342px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  position:absolute;
  left:0px;
  top:4px;
  width:375px;
  height:118px;
}
#u123 {
  position:absolute;
  left:2px;
  top:50px;
  width:371px;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  position:absolute;
  left:6px;
  top:132px;
  width:283px;
  height:20px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
.u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u128 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  word-wrap:break-word;
}
.u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
.u129 {
  position:absolute;
  left:118px;
  top:0px;
  width:149px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
.u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
.u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u131 {
  position:absolute;
  left:118px;
  top:56px;
  width:220px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u132 {
  position:absolute;
  left:2px;
  top:4px;
  width:216px;
  word-wrap:break-word;
}
.u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
.u133 {
  position:absolute;
  left:0px;
  top:110px;
  width:351px;
  height:1px;
}
.u134 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
.u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
.u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
.u136 {
  position:absolute;
  left:2px;
  top:42px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
.u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:111px;
}
#u126-2 {
  position:absolute;
  left:0px;
  top:121px;
  width:351px;
  height:111px;
}
#u126-3 {
  position:absolute;
  left:0px;
  top:242px;
  width:351px;
  height:111px;
}
#u126 {
  position:absolute;
  left:6px;
  top:173px;
  width:351px;
  height:353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
