body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:588px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  position:absolute;
  left:0px;
  top:54px;
  width:375px;
  height:602px;
}
#u213 {
  position:absolute;
  left:2px;
  top:293px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u214 {
  position:absolute;
  left:69px;
  top:212px;
  width:239px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  position:absolute;
  left:118px;
  top:378px;
  width:140px;
  height:40px;
}
#u217 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:179px;
  height:21px;
}
#u218p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:171px;
  height:1px;
}
#u218p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:182px;
  height:22px;
}
#u218p001 {
  position:absolute;
  left:156px;
  top:-10px;
  width:20px;
  height:20px;
}
#u218p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u218.compound {
  width:0px;
  height:0px;
}
#u218 {
  position:absolute;
  left:245px;
  top:396px;
  width:169px;
  height:1px;
}
#u219 {
  position:absolute;
  left:2px;
  top:-8px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u220 {
  position:absolute;
  left:424px;
  top:389px;
  width:157px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u222 {
  position:absolute;
  left:118px;
  top:328px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u223 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:179px;
  height:21px;
}
#u224p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:171px;
  height:1px;
}
#u224p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:182px;
  height:22px;
}
#u224p001 {
  position:absolute;
  left:156px;
  top:-10px;
  width:20px;
  height:20px;
}
#u224p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u224.compound {
  width:0px;
  height:0px;
}
#u224 {
  position:absolute;
  left:245px;
  top:346px;
  width:169px;
  height:1px;
}
#u225 {
  position:absolute;
  left:2px;
  top:-8px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u226 {
  position:absolute;
  left:424px;
  top:339px;
  width:164px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
