body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
}
#u68 {
  position:absolute;
  left:0px;
  top:-55px;
  width:375px;
  height:688px;
}
#u69 {
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:118px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:118px;
}
#u71 {
  position:absolute;
  left:2px;
  top:50px;
  width:371px;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:6px;
  top:178px;
  width:283px;
  height:20px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
.u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
.u76 {
  position:absolute;
  left:0px;
  top:110px;
  width:351px;
  height:1px;
}
.u77 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
.u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u79 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  word-wrap:break-word;
}
.u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
.u80 {
  position:absolute;
  left:118px;
  top:0px;
  width:109px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
.u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
.u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u82 {
  position:absolute;
  left:118px;
  top:72px;
  width:62px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
.u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u84 {
  position:absolute;
  left:190px;
  top:72px;
  width:62px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
.u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u86 {
  position:absolute;
  left:262px;
  top:72px;
  width:62px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
.u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u89 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:111px;
}
#u74-2 {
  position:absolute;
  left:0px;
  top:121px;
  width:351px;
  height:111px;
}
#u74-3 {
  position:absolute;
  left:0px;
  top:242px;
  width:351px;
  height:111px;
}
#u74 {
  position:absolute;
  left:6px;
  top:219px;
  width:351px;
  height:353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#36A9CE;
}
#u90 {
  position:absolute;
  left:55px;
  top:16px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#36A9CE;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u92 {
  position:absolute;
  left:255px;
  top:16px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u94_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:75px;
  height:6px;
}
#u94 {
  position:absolute;
  left:51px;
  top:44px;
  width:72px;
  height:3px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-6px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
