body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-262px;
  width:628px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:fixed;
  left:-1px;
  top:-1px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:124px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:124px;
}
#u3 {
  position:absolute;
  left:2px;
  top:54px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-10px;
  top:123px;
  width:201px;
  height:507px;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:507px;
}
#u5 {
  position:absolute;
  left:2px;
  top:465px;
  width:197px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:6px;
  top:126px;
  width:177px;
  height:29px;
  font-family:'', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:173px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:6px;
  top:328px;
  width:177px;
  height:29px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:173px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:6px;
  top:247px;
  width:177px;
  height:29px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:173px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:6px;
  top:90px;
  width:177px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:6px;
  top:165px;
  width:177px;
  height:29px;
  font-family:'', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:173px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:14px;
  top:196px;
  visibility:hidden;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:34px;
  width:160px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:130px;
  top:39px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:6px;
  top:204px;
  width:177px;
  height:29px;
  font-family:'', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:173px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:14px;
  top:236px;
  visibility:hidden;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
}
#u25_img.selected {
}
#u25.selected {
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:34px;
  width:160px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
}
#u27_img.selected {
}
#u27.selected {
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:156px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:130px;
  top:4px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:130px;
  top:39px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:143px;
  top:172px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:143px;
  top:210px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:120px;
  top:208px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:6px;
  top:288px;
  width:177px;
  height:29px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:29px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:173px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:262px;
  top:40px;
  width:628px;
  height:451px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:451px;
}
#u42 {
  position:absolute;
  left:2px;
  top:218px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:280px;
  top:475px;
  width:591px;
  height:360px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:360px;
}
#u44 {
  position:absolute;
  left:2px;
  top:172px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
