body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:73px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:73px;
}
#u19 {
  position:absolute;
  left:2px;
  top:28px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:22px;
}
#u20 {
  position:absolute;
  left:721px;
  top:26px;
  width:297px;
  height:22px;
  font-size:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BodoniSvtyTwoOSITCTT-Bold', 'Bodoni 72 Oldstyle Bold', 'Bodoni 72 Oldstyle';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u22 {
  position:absolute;
  left:39px;
  top:11px;
  width:161px;
  height:51px;
  font-family:'BodoniSvtyTwoOSITCTT-Bold', 'Bodoni 72 Oldstyle Bold', 'Bodoni 72 Oldstyle';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 151, 5, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:778px;
  top:58px;
  width:79px;
  height:2px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-7px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:702px;
  top:15px;
  width:76px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:1061px;
  top:0px;
  width:219px;
  height:73px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 151, 5, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:116px;
  top:20px;
  width:84px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 151, 5, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:20px;
  top:20px;
  width:84px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u27_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:73px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
}
#u32 {
  position:absolute;
  left:69px;
  top:25px;
  width:133px;
  height:22px;
  font-size:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u34 {
  position:absolute;
  left:14px;
  top:13px;
  width:45px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
.u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:186px;
}
.u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:186px;
}
.u38 {
  position:absolute;
  left:2px;
  top:85px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
.u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u39 {
  position:absolute;
  left:197px;
  top:16px;
  width:499px;
  height:154px;
  font-size:16px;
}
.u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
.u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:156px;
}
.u41 {
  position:absolute;
  left:738px;
  top:16px;
  width:1px;
  height:155px;
}
.u42 {
  position:absolute;
  left:2px;
  top:70px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
.u43 {
  position:absolute;
  left:781px;
  top:145px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
.u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
.u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:91px;
}
.u45 {
  position:absolute;
  left:793px;
  top:20px;
  width:96px;
  height:91px;
}
.u46 {
  position:absolute;
  left:2px;
  top:38px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
.u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:186px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:136px;
}
.u48 {
  position:absolute;
  left:10px;
  top:35px;
  width:169px;
  height:136px;
}
.u49 {
  position:absolute;
  left:2px;
  top:60px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:186px;
}
#u36-2 {
  position:absolute;
  left:0px;
  top:196px;
  width:943px;
  height:186px;
}
#u36-3 {
  position:absolute;
  left:0px;
  top:392px;
  width:943px;
  height:186px;
}
#u36-4 {
  position:absolute;
  left:0px;
  top:588px;
  width:943px;
  height:186px;
}
#u36-5 {
  position:absolute;
  left:0px;
  top:784px;
  width:943px;
  height:186px;
}
#u36 {
  position:absolute;
  left:34px;
  top:148px;
  width:943px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u50 {
  position:absolute;
  left:987px;
  top:148px;
  width:259px;
  height:118px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u51 {
  position:absolute;
  left:2px;
  top:50px;
  width:255px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:22px;
}
#u52 {
  position:absolute;
  left:44px;
  top:99px;
  width:281px;
  height:22px;
  font-size:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 151, 5, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  position:absolute;
  left:40px;
  top:131px;
  width:71px;
  height:2px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u56 {
  position:absolute;
  left:987px;
  top:276px;
  width:259px;
  height:118px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u57 {
  position:absolute;
  left:2px;
  top:50px;
  width:255px;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:987px;
  top:404px;
  width:259px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u59 {
  position:absolute;
  left:2px;
  top:52px;
  width:255px;
  word-wrap:break-word;
}
