body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:766px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:172px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u186 {
  position:absolute;
  left:444px;
  top:168px;
  width:322px;
  height:172px;
}
#u187 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u189 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:195px;
  height:21px;
}
#u190p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:187px;
  height:1px;
}
#u190p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:198px;
  height:22px;
}
#u190p001 {
  position:absolute;
  left:172px;
  top:-10px;
  width:20px;
  height:20px;
}
#u190p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u190.compound {
  width:0px;
  height:0px;
}
#u190 {
  position:absolute;
  left:249px;
  top:272px;
  width:185px;
  height:1px;
}
#u191 {
  position:absolute;
  left:2px;
  top:-8px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  position:absolute;
  left:468px;
  top:181px;
  width:213px;
  height:20px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u194_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:69px;
  height:21px;
}
#u194p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:61px;
  height:1px;
}
#u194p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:72px;
  height:22px;
}
#u194p001 {
  position:absolute;
  left:46px;
  top:-10px;
  width:20px;
  height:20px;
}
#u194p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u194.compound {
  width:0px;
  height:0px;
}
#u194 {
  position:absolute;
  left:375px;
  top:359px;
  width:59px;
  height:1px;
}
#u195 {
  position:absolute;
  left:2px;
  top:-8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  position:absolute;
  left:444px;
  top:350px;
  width:157px;
  height:20px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u198_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:69px;
  height:21px;
}
#u198p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:61px;
  height:1px;
}
#u198p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:72px;
  height:22px;
}
#u198p001 {
  position:absolute;
  left:46px;
  top:-10px;
  width:20px;
  height:20px;
}
#u198p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u198.compound {
  width:0px;
  height:0px;
}
#u198 {
  position:absolute;
  left:375px;
  top:427px;
  width:59px;
  height:1px;
}
#u199 {
  position:absolute;
  left:2px;
  top:-8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  position:absolute;
  left:444px;
  top:418px;
  width:157px;
  height:20px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:41px;
}
#u202 {
  position:absolute;
  left:480px;
  top:211px;
  width:103px;
  height:41px;
}
#u203 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  position:absolute;
  left:468px;
  top:262px;
  width:211px;
  height:20px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:41px;
}
#u206 {
  position:absolute;
  left:480px;
  top:290px;
  width:103px;
  height:41px;
}
#u207 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
