body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:647px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  font-size:16px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:19px;
  top:28px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:1px;
  top:5px;
  width:19px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u7 {
  position:absolute;
  left:1px;
  top:17px;
  width:19px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:2px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  height:2px;
}
#u8 {
  position:absolute;
  left:0px;
  top:90px;
  width:375px;
  height:125px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:125px;
}
#u9 {
  position:absolute;
  left:2px;
  top:54px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:16px;
  top:102px;
  width:61px;
  height:21px;
  font-size:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:16px;
  top:145px;
  width:61px;
  height:21px;
  font-size:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:16px;
  top:125px;
  width:359px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:359px;
  height:1px;
}
#u15 {
  position:absolute;
  left:341px;
  top:111px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u16 {
  position:absolute;
  left:341px;
  top:101px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u17 {
  position:absolute;
  left:341px;
  top:153px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u18 {
  position:absolute;
  left:341px;
  top:143px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u19 {
  position:absolute;
  left:16px;
  top:166px;
  width:359px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:359px;
  height:1px;
}
#u20 {
  position:absolute;
  left:16px;
  top:186px;
  width:61px;
  height:21px;
  font-size:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:341px;
  top:194px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u23 {
  position:absolute;
  left:341px;
  top:184px;
  width:14px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:-3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:14px;
  height:2px;
}
#u24 {
  position:absolute;
  left:0px;
  top:581px;
  width:375px;
  height:45px;
  font-size:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:94px;
  width:375px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:0px;
  top:136px;
  width:375px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:0px;
  top:176px;
  width:375px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
